.search_item__description {
  padding: 1rem 0.5rem;

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
  }

  .description__header {
    font-size: 1.25rem;
    line-height: 1.5rem;

    .sub_header {
      font-size: 0.875rem;
      color: #999999;
    }
  }

  .description__options {
    width: 100%;

    .description__option {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: middle;
      margin-bottom: 0.5rem;

      &:last-child { margin-bottom: 0; }

      .icon {
        color: #999999;
        font-size: 1rem;
        margin-right: 0.5rem;
        height: 1.2rem;
        line-height: 1rem;
        vertical-align: middle;
      }

      .content {
        //
      }
    }
  }

  .description__price {
    .key {
      font-size: 0.875;
      color: #999;
      // text-transform: uppercase;
    }
  }
}
