@import "./page";
@import "./menu";

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  min-width: 1200px;

  // & > div:nth-child(2) {
  // }

  .layout__menu + .layout__page {
    max-width: calc(100% - 16rem);
    margin-left: 16rem;

    .layout__topbar {
      padding-left: $menu-width;
    }
  }
}
