.travellers-counter {
  width: 14rem;
  padding: 1.125rem;

  .travellers-counter__body {

  }

  .travellers-counter__control {
    width: 100%;
    margin-top: 1rem;
    button, .button { width: 100%; }
  }
}


.travellers-chooser {
  width: 24rem;
  padding: 1.125rem;

  .seats {
    .seat + .seat {
      margin-left: 1.125rem;
    }

    .seat {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      .Select {
        width: 4.5rem;
        margin-right: 0.875rem;
      }
    }
  }

  .rates {
    margin-top: 0.95rem;

    .rate + .rate {
      margin-top: 0.425rem;
      padding-top: 0.425rem;
      border-top: 1px solid #D7D3CC;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.4rem;

      .rate__name {
        flex-grow: 1;
      }

      .rate__price {
        min-width: 6.5rem;
        flex-grow: 0;
        text-align: right;
        line-height: 0.8rem;

        .icon {
          color: #979797;
          font-size: 1.2rem;
        }

        .tip {
          visibility: hidden;
          font-size: 0.75rem;
        }

        &.active {
          .icon { color: #333; }
          .tip { visibility: visible; }
        }
      }
    }

    .rate__cash {
      user-select: none;
    }
  }

  .travellers-chooser__section {
    p.empty {
      color: #999;
      margin-top: 0.875rem;
    }

    p.alert {
      color: #ff9595;
    }

    .attention {
      margin-bottom: 0.2rem;
    }
  }

  .travellers-chooser__section + .travellers-chooser__section {
    margin-top: 1.6rem;
  }

  .travellers-chooser__control {
    width: 100%;
    margin-top: 2rem;
    button, .button { width: 100%; }
  }
}
